.title_container {
  height: calc(48in * 0.1) !important;
}

.poster_title {
  align-content: center !important;
}

.logo_left {
  width: 12% !important;
  justify-content: end !important;
}

a:link {
  color: #941a00 !important;
}

a:visited {
  color: #941a00 !important;
}

.poster_body h1 {
  margin-top: 0.5em !important;
  font-weight: bold !important;
}

.poster_body h2 {
  color: #941a00 !important;
  font-size: 40pt !important;
  font-weight: bold !important;
  padding-left: 4mm !important;
}

.poster_title h3{
  color: #f5fffa !important;
}

code {
  font-size: 35px !important;
}



::marker {
  font-weight: bold !important;
  color: #941a00 !important;
}

.caption {
  font-size: 40px !important;
  font-weight: bold !important;
}

.caption-text {
  font-size: 40px !important;
  font-weight: normal !important;
}

caption span {
  font-weight: bold !important;
}

#references {
  word-wrap: break-word !important;
  font-size: 25pt !important;
}

#refs {
  margin-top: 1.5rem !important;
}